<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav class="py-6 px-6 flex justify-between items-center border-b border-blue-200">
        <a href="/" class="text-xl font-semibold text-blue-400">Phần mềm chấm công bằng nhận diện khuôn mặt</a>
        <div class="space-x-6">
            <!--<a href="#" class="text-lg font-semibold hover:text-gray-500 ">Dang nhap</a> -->
            {% if request.login %}
            <a href="{% url 'index' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Đăng Xuất</a>
           
                {% else %}
            <a href="{% url 'login' %}" class="px-6 py-3 text-lg font-semibold bg-blue-600 text-white rounded-xl hover:bg-blue-700">Đăng Nhập</a>
            <a href="{% url 'signup'%}" class="px-6 py-3 text-lg font-semibold bg-blue-600 text-white rounded-xl hover:bg-blue-700">Đăng Ký</a>
            {% endif %}
        </div>
    </nav>
    <div class="px-6 py-6">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="py-6 px-6 flex justify-center bg-blue-300">
        <div class="w-2/3 pr-10 flex items-center justify-center">
            <p class="text-lg text-gray-500">Phần mềm được phát triển bởi nhóm 7 - Đồ án môn học </p>
        </div>
    </footer>
</body>
</html>