{% extends 'core/base.html' %}

{% block title %}conteat{% endblock %}

{% block content %}
  <div style="text-align: center; padding: 20px;">
   
    <div style="background-color: #3498db; padding: 20px; border-radius: 5px; display: inline-block;">
      <h2 class="px-6 py-3 text-lg font-semibold  text-white ">Vui  lòng chọn loại tài khoản</h2>
      <a href="{% url 'loginNV' %}" class="px-6 py-3 text-lg font-semibold bg-blue-600 text-white rounded-xl hover:bg-blue-700">Nhân Viên</a>
      <a href="{% url 'loginQL' %}" class="px-6 py-3 text-lg font-semibold bg-blue-600 text-white rounded-xl hover:bg-blue-700">Quản Lý Nhân Viên</a>
    </div>
  </div>
{% endblock %}
