{% extends 'core/base.html' %}

{% block title %}conteat{% endblock %}

{% block content %}
  <div style="text-align: center; padding: 20px;">
    
    <div style="background-color: #3498db; padding: 20px; border-radius: 5px; display: inline-block;">
      <h2 style="color: #fff;">Đăng ký với nhận diện khuôn mặt</h2>
      <video id="camera-feed" style="width: 100%; height: auto;" autoplay></video>
      <button id="capture-button" style="background-color: #2980b9; color: #fff; border: none; padding: 10px 20px; cursor: pointer; border-radius: 5px;">Chụp ảnh</button>
      <img id="captured-image" style="display: none; max-width: 100%; margin-top: 20px;">
      <form action="/register" method="post">
       
        <div style="display: flex; flex-direction: column;">
          <div style="margin: 10px 0;">
            <label for="username" style="color: #fff;">Tên đăng ký:</label>
            <input type="text" style="border-radius: 10px;" id="username" name="username" required>
          </div>
          <div style="margin: 10px 0;">
            <label for="password" style="color: #fff;">Mật khẩu:</label>
            <input type="password" style="border-radius: 10px;" id="password" name="password" required>
          </div>
          <div style="margin: 10px 0;">
            <label for="confirm-password" style="color: #fff;">Xác nhận mật khẩu:</label>
            <input type="password" style="border-radius: 10px;" id="confirm-password" name="confirm-password" required>
          </div>
        </div>
        
        
        <input type="hidden" id="captured-image-data" name="captured_image" required>
        <a href="{% url 'slideNV' %}" class="px-6 py-3 text-lg font-semibold bg-blue-600 text-white rounded-xl hover:bg-blue-700">Đăng ký</a>
    </div>
      </form>
    </div>
  </div>

  <script>
    // JavaScript code to access camera and capture image
    const cameraFeed = document.getElementById('camera-feed');
    const captureButton = document.getElementById('capture-button');
    const capturedImage = document.getElementById('captured-image');
    const capturedImageData = document.getElementById('captured-image-data');

    if (navigator.mediaDevices.getUserMedia) {
      navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
          cameraFeed.srcObject = stream;
        })
        .catch(function (error) {
          console.log("Could not access the camera: " + error);
        });
    }

    captureButton.addEventListener('click', function () {
      const canvas = document.createElement('canvas');
      const context = canvas.getContext('2d');
      canvas.width = cameraFeed.videoWidth;
      canvas.height = cameraFeed.videoHeight;
      context.drawImage(cameraFeed, 0, 0, cameraFeed.videoWidth, cameraFeed.videoHeight);
      capturedImage.src = canvas.toDataURL('image/png');
      capturedImageData.value = canvas.toDataURL('image/png');
      capturedImage.style.display = 'block';
    });
  </script>
{% endblock %}