{% extends 'core/base.html' %}

{% block title %}conteat{% endblock %}

{% block content %}
<div class="pb-6 grid grid-cols-4 gap-4 bg-white-100">
    <div class="col-span-1">
        
        <div class="function-container">
    <div>
        <a href="#"class="font-semibold">Xem số công </a>
        
        <hr class="my-6">
    </div>

   
</div>

    </div>

<!-- Thẻ canvas để vẽ biểu đồ -->
<div class="col-span-3">
    <div class="grid grid-cols-3 gap-3">
<canvas id="myChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  var ctx = document.getElementById('myChart').getContext('2d');
var labels = ['Tháng 11', 'Tháng 12', 'Tháng 1', 'Tháng 2'];
var data = [12, 19, 3, 5]; // Dữ liệu tổng số ngày đi
var lateData = [2, 0, 0, 1]; // Dữ liệu số ngày đi muộn

var backgroundColor = [];
var borderColor = [];

for (var i = 0; i < labels.length; i++) {
    if (lateData[i] > 0) {
        backgroundColor.push('rgba(255, 0, 0, 0.2)'); // Màu đỏ nếu có ngày đi muộn
        borderColor.push('rgba(255, 0, 0, 1)');
    } else {
        backgroundColor.push('rgba(0, 255, 0, 0.2)'); // Màu xanh nếu đi đúng giờ
        borderColor.push('rgba(0, 255, 0, 1)');
    }
}

var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'Biểu đồ chấm công',
            data: data,
            backgroundColor: backgroundColor,
            borderColor: borderColor,
            borderWidth: 0.5
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
</div>
</div>
</body>
{% endblock %}